.App {
  padding: 20px;
  background-image: url("./assets/texturaarabemin.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .App {
    width: auto;

    background-image: url("./assets/texturacelular.png");
    background-size: contain; /* Cambiado a 'contain' para evitar estiramiento */
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 468px) {
  .App {
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
