.App {

  padding: 20px;
  background-image: url("./assets/texturaarabe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




