.App {
  padding: 20px;
  background-image: url("./assets/texturaarabemin.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: normal;
}

@media screen and (max-width: 768px) {
  .App {
    width: auto;

    background-image: url("./assets/texturacelular.png");
    background-size: contain; /* Cambiado a 'contain' para evitar estiramiento */
    background-position: center;
    background-repeat: repeat;
    /* background-attachment: fixed; */
    background-blend-mode: normal;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 468px) {
  .App {
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    /* background-attachment: fixed; */
    background-blend-mode: normal;
    background-attachment: scroll;
  }
}
